#danhmuc {
  h4 {
    font-size: 18px;
  }
}

#baiviet-name {
  h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
  .webtuyensinh-section {
    font-weight: bold;
    color: rgb(167, 167, 167);
  }
  .webtuyensinh-link {
    color: rgb(31, 151, 170);
    font-weight: bold;
  }
}

#baiviet-description {
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: rgb(238, 238, 238);
  p {
    margin: 0px 0px;
  }
}

#baiviet-img {
  margin: 10px 0px;
  img{
    width: 100%;
    height: 450px;
  }
}

#baiviet-content {
  padding: 10px 0px;
  img{
    width: 100%;
  }
}

#comment {
  padding: 10px 0px;
  .comment-header {
    padding: 5px 5px;
    background-color: rgb(238, 238, 238);
    p {
      font-weight: bold;
      margin: 0px 0px;
      color: rgb(246, 92, 44);
    }
  }
}

.tintuc-contain {
  padding: 10px 0px;
  .tin-header {
    color: rgb(246, 92, 44);
    font-weight: bold;
  }
  .tin-content{
    .baiviet-box{
      .tintuc-detail{
        a{
          text-decoration: none;
        }
      }
    }
  }
}


.fck{
  div{
    img{
      width: 100%;
    }
  }
}
