#danhmuc {
  h4 {
    font-size: 18px;
  }
}

#baiviet-name {
  h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
  .webtuyensinh-section {
    font-weight: bold;
    color: rgb(167, 167, 167);
  }
  .webtuyensinh-link {
    color: rgb(31, 151, 170);
    font-weight: bold;
  }
}

#baiviet-description {
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: rgb(238, 238, 238);
  p {
    margin: 0px 0px;
  }
}

#baiviet-img {
  margin: 10px 0px;
  img{
    width: 100%;
    height: 450px;
  }
}

#baiviet-content {
  padding: 10px 0px;
  img{
    width: 100%;
  }
}

#comment {
  padding: 10px 0px;
  .comment-header {
    padding: 5px 5px;
    background-color: rgb(238, 238, 238);
    p {
      font-weight: bold;
      margin: 0px 0px;
      color: rgb(246, 92, 44);
    }
  }
}

.tintuc-contain {
  padding: 10px 0px;
  .tin-header {
    color: rgb(246, 92, 44);
    font-weight: bold;
  }
}

#quangcao {
  .quangcao-box {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}

#xuhuong {
  margin: 10px 0px;
  .side-header {
    background-color: rgba(246, 92, 44, 0.1);
    margin: 1px 0px;
    padding: 10px 10px;
    i {
      color: rgb(246, 92, 44);
      margin-right: 10px;
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
      color: rgb(246, 92, 44);
      display: inline;
    }
  }
  .side-content {
    padding: 10px 10px;
    background-color: rgba(246, 92, 44, 0.1);
    .xuhuong-main {
      img {
        width: 100%;
        border-radius: 5px;
      }
      p {
        color: rgb(51, 51, 51);
        margin: 5px 0px;
      }
    }
    div {
      .xuhuong-contents {
        padding: 5px 7px;
        margin: 10px 0px;
        display: flex;
        img {
          margin-right: 5px;
          border-radius: 5px;
        }
        p {
          color: rgb(51, 51, 51);
          margin: 0px 0px;
        }
      }
    }
  }
}

#videos {
  margin: 10px 0px;
  border: 2px solid rgb(246, 92, 44);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
  }
  &::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
  }

  &::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
  }
  .side-header {
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
    padding: 10px 10px;
    i {
      margin-right: 10px;
      color: rgb(246, 92, 44);
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
      color: rgb(246, 92, 44);
      display: inline;
    }
  }
  .side-content {
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    z-index: 1;
    .video {
      padding: 10px 10px;
      display: flex;
      flex-direction: column;
      video {
        width: 100%;
      }
      p {
        text-align: center;
      }
    }
  }
}

#tuyensinh {
  margin: 10px 0px;
  .side-header {
    padding: 10px 0px;
    i {
      margin-right: 10px;
      color: rgb(47, 161, 179);
    }
    h4 {
      color: rgb(47, 161, 179);
      font-weight: bold;
      font-size: 20px;
      display: inline;
    }
  }
  .side-content {
    padding: 10px 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(213, 213, 213);
    border-top: 2px solid rgb(47, 161, 179);
    .tuyensinh-main {
      padding: 8px 0px;
      display: flex;
      img {
        width: 35%;
        border-radius: 5px;
      }
      p {
        color: rgb(51, 51, 51);
      }
    }
    .tuyensinh-contents {
      padding: 10px 0px;
      border-top: 1px dotted rgb(213, 213, 213);
      a {
        p {
          color: rgb(51, 51, 51);
          margin: 0px 0px;
        }
      }
    }
  }
}

#giaoduc {
  margin: 10px 0px;
  .side-header {
    padding: 10px 0px;
    i {
      margin-right: 10px;
      color: rgb(246, 92, 44);
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
      display: inline;
      color: rgb(246, 92, 44);
    }
  }
  .side-content {
    padding: 10px 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(213, 213, 213);
    border-top: 2px solid rgb(246, 92, 44);
    .tuyensinh-main {
      padding: 10px 5px;
      display: flex;
      img {
        border-radius: 5px;
        width: 35%;
      }
      .tuyensinh-des {
        padding: 5px 5px;
        color: rgb(51, 51, 51);
      }
    }
    .tuyensinh-contents {
      padding: 15px 8px;
      border-top: 1px dotted rgb(213, 213, 213);
      a {
        p {
          text-align: left;
          margin: 0px 0px;
          color: rgb(51, 51, 51);
        }
      }
    }
  }
}

#facebook-embed {
  margin: 10px 0px;
  i {
    font-size: 35px;
    color: rgb(59, 89, 151);
    margin-bottom: 10px;
    margin-right: 10px;
  }
  span {
    font-weight: bold;
    color: rgb(59, 89, 151);
    font-size: 28px;
  }
}

.fck{
  div{
    img{
      width: 100%;
    }
  }
}
