main #baiviet-chinh a {
  text-decoration: none; }
  main #baiviet-chinh a img {
    border-radius: 5px; }
  main #baiviet-chinh a h5 {
    color: #333333;
    margin-top: 20px; }
main #baiviet-chinh p .webtuyensinh-section {
  font-weight: bold;
  color: #a7a7a7; }
main #baiviet-chinh p .webtuyensinh-link {
  color: #1f97aa;
  font-weight: bold; }
main #baiviet-tieubieu {
  display: flex; }
  main #baiviet-tieubieu .tieubieu-box {
    padding: 0px 10px;
    width: 33.33%; }
    main #baiviet-tieubieu .tieubieu-box a {
      text-decoration: none;
      height: 100%; }
      main #baiviet-tieubieu .tieubieu-box a img {
        border-radius: 5px;
        width: 100%;
        height: 65%; }
      main #baiviet-tieubieu .tieubieu-box a h5 {
        color: #333333;
        font-size: 16px;
        padding: 5px 0px;
        white-space: nowrap;
        overflow: hidden;
        height: fit-content;
        text-overflow: ellipsis; }
    main #baiviet-tieubieu .tieubieu-box p .webtuyensinh-section {
      font-weight: bold;
      color: #a7a7a7; }
    main #baiviet-tieubieu .tieubieu-box p .webtuyensinh-link {
      color: #1f97aa;
      font-weight: bold; }
main #baiviet-tintuc .baiviet-box {
  margin: 10px 0px;
  display: flex; }
  main #baiviet-tintuc .baiviet-box .tintuc-img {
    padding: 0px 15px 15px 0px;
    width: 30%; }
    main #baiviet-tintuc .baiviet-box .tintuc-img img {
      border-radius: 5px;
      width: 100%; }
  main #baiviet-tintuc .baiviet-box .tintuc-detail {
    width: 70%; }
    main #baiviet-tintuc .baiviet-box .tintuc-detail a {
      text-decoration: none; }
      main #baiviet-tintuc .baiviet-box .tintuc-detail a h5 {
        color: #333333; }
    main #baiviet-tintuc .baiviet-box .tintuc-detail p .webtuyensinh-section {
      font-weight: bold;
      color: #a7a7a7; }
    main #baiviet-tintuc .baiviet-box .tintuc-detail p .webtuyensinh-link {
      color: #1f97aa;
      font-weight: bold; }
main #quangcao .quangcao-box {
  margin-bottom: 20px; }
  main #quangcao .quangcao-box img {
    width: 100%; }
main #xuhuong {
  margin: 10px 0px; }
  main #xuhuong .side-header {
    background-color: rgba(246, 92, 44, 0.1);
    margin: 1px 0px;
    padding: 10px 10px; }
    main #xuhuong .side-header i {
      color: #f65c2c;
      margin-right: 10px; }
    main #xuhuong .side-header h4 {
      font-weight: bold;
      font-size: 20px;
      color: #f65c2c;
      display: inline; }
  main #xuhuong .side-content {
    padding: 10px 10px;
    background-color: rgba(246, 92, 44, 0.1); }
    main #xuhuong .side-content .xuhuong-main {
      text-decoration: none; }
      main #xuhuong .side-content .xuhuong-main img {
        width: 100%;
        border-radius: 5px; }
      main #xuhuong .side-content .xuhuong-main p {
        color: #333333;
        margin: 5px 0px; }
    main #xuhuong .side-content div .xuhuong-contents {
      text-decoration: none;
      padding: 5px 7px;
      margin: 10px 0px;
      display: flex; }
      main #xuhuong .side-content div .xuhuong-contents img {
        margin-right: 5px;
        border-radius: 5px; }
      main #xuhuong .side-content div .xuhuong-contents p {
        color: #333333;
        margin: 0px 0px; }
main #videos {
  margin: 10px 0px;
  border: 2px solid #f65c2c;
  position: relative; }
  main #videos::before, main #videos::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff; }
  main #videos::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em; }
  main #videos::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em; }
  main #videos .side-header {
    border: 1px solid #eeeeee;
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
    padding: 10px 10px; }
    main #videos .side-header i {
      margin-right: 10px;
      color: #f65c2c; }
    main #videos .side-header h4 {
      font-weight: bold;
      font-size: 20px;
      color: #f65c2c;
      display: inline; }
  main #videos .side-content {
    border: 1px solid #eeeeee;
    position: relative;
    z-index: 1; }
    main #videos .side-content .video {
      padding: 10px 10px;
      display: flex;
      flex-direction: column; }
      main #videos .side-content .video video {
        width: 100%; }
      main #videos .side-content .video p {
        text-align: center; }
main #tuyensinh {
  margin: 10px 0px; }
  main #tuyensinh .side-header {
    padding: 10px 0px; }
    main #tuyensinh .side-header i {
      margin-right: 10px;
      color: #2fa1b3; }
    main #tuyensinh .side-header h4 {
      color: #2fa1b3;
      font-weight: bold;
      font-size: 20px;
      display: inline; }
  main #tuyensinh .side-content {
    padding: 10px 10px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    border-top: 2px solid #2fa1b3; }
    main #tuyensinh .side-content .tuyensinh-main {
      text-decoration: none;
      padding: 8px 0px;
      display: flex; }
      main #tuyensinh .side-content .tuyensinh-main img {
        width: 35%;
        border-radius: 5px; }
      main #tuyensinh .side-content .tuyensinh-main p {
        color: #333333; }
    main #tuyensinh .side-content .tuyensinh-contents {
      padding: 10px 0px;
      border-top: 1px dotted #d5d5d5; }
      main #tuyensinh .side-content .tuyensinh-contents a {
        text-decoration: none; }
        main #tuyensinh .side-content .tuyensinh-contents a p {
          color: #333333;
          margin: 0px 0px; }
main #giaoduc {
  margin: 10px 0px; }
  main #giaoduc .side-header {
    padding: 10px 0px; }
    main #giaoduc .side-header i {
      margin-right: 10px;
      color: #f65c2c; }
    main #giaoduc .side-header h4 {
      font-weight: bold;
      font-size: 20px;
      display: inline;
      color: #f65c2c; }
  main #giaoduc .side-content {
    padding: 10px 10px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    border-top: 2px solid #f65c2c; }
    main #giaoduc .side-content .giaoduc-main {
      text-decoration: none;
      padding: 10px 5px;
      display: flex; }
      main #giaoduc .side-content .giaoduc-main img {
        border-radius: 5px;
        width: 35%; }
      main #giaoduc .side-content .giaoduc-main .tuyensinh-des {
        padding: 5px 5px;
        color: #333333; }
    main #giaoduc .side-content .giaoduc-contents {
      padding: 15px 8px;
      border-top: 1px dotted #d5d5d5; }
      main #giaoduc .side-content .giaoduc-contents a {
        text-decoration: none; }
        main #giaoduc .side-content .giaoduc-contents a p {
          text-align: left;
          margin: 0px 0px;
          color: #333333; }
main #big-ad img {
  width: 100%; }
main #facebook-embed {
  margin: 10px 0px; }
  main #facebook-embed i {
    font-size: 35px;
    color: #3b5997;
    margin-bottom: 10px;
    margin-right: 10px; }
  main #facebook-embed span {
    font-weight: bold;
    color: #3b5997;
    font-size: 28px; }

@media only screen and (max-width: 600px) {
  main #baiviet-tieubieu {
    display: block; }
    main #baiviet-tieubieu .tieubieu-box {
      width: 100%; } }

/*# sourceMappingURL=home.css.map */
