#danhmuc h4 {
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 400; }
  #danhmuc h4:before {
    content: '';
    width: 5px;
    height: 15px;
    background-color: #f65c2c;
    position: absolute;
    left: 0;
    top: 3px; }

#account {
  padding: 10px 20px; }
  #account .account-nav {
    padding: 0px 0px;
    border: 1px solid #eeeeee; }
    #account .account-nav .user-info {
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #account .account-nav .user-info img {
        width: 30%;
        margin: 10px 0px; }
      #account .account-nav .user-info p {
        margin: 0px 0px;
        text-align: center;
        font-weight: bold; }
      #account .account-nav .user-info small {
        font-size: 13px;
        color: gray; }
    #account .account-nav ul {
      flex-direction: column; }
      #account .account-nav ul li {
        padding: 0px 10px;
        border-top: 1px solid #eeeeee; }
        #account .account-nav ul li .nav-link {
          border-radius: 0px;
          padding: 10px 5px;
          color: #333333; }
        #account .account-nav ul li .active {
          color: #f65c2c;
          border: none; }
  #account .account-content .tab-content {
    padding: 0px 10px;
    border: 1px solid #eeeeee; }
    #account .account-content .tab-content #taikhoancuatoi .account-section-header {
      padding: 8px 0px; }
      #account .account-content .tab-content #taikhoancuatoi .account-section-header h3 {
        color: #f65c2c;
        font-size: 20px; }
    #account .account-content .tab-content #taikhoancuatoi #avatar-file {
      display: none; }
    #account .account-content .tab-content #taikhoancuatoi label {
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      border: 1px dashed #a0a0a0; }
    #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-3 {
      padding: 10px 0px;
      color: gray; }
    #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-9 {
      border-bottom: 1px solid #eeeeee;
      padding: 10px 0px; }
      #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-9 a {
        color: gray; }
      #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-9 .account-edit {
        padding-left: 50px;
        flex-wrap: nowrap;
        background-color: #eeeeee;
        padding: 10px 10px; }
        #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-9 .account-edit input {
          margin-bottom: 7px; }
        #account .account-content .tab-content #taikhoancuatoi .account-section-content .col-lg-9 .account-edit button {
          padding: 5px 10px;
          background-color: #f65c2c;
          color: white;
          border-radius: 3px;
          margin-right: 10px;
          border: none; }
    #account .account-content .tab-content #doimatkhau .account-section-header {
      padding: 8px 0px; }
      #account .account-content .tab-content #doimatkhau .account-section-header h3 {
        color: #f65c2c;
        font-size: 20px; }
    #account .account-content .tab-content #doimatkhau .account-section-content {
      padding: 10px 5px; }
      #account .account-content .tab-content #doimatkhau .account-section-content div {
        color: #a0a0a0;
        padding: 10px 5px; }
        #account .account-content .tab-content #doimatkhau .account-section-content div button {
          padding: 5px 10px;
          background-color: #f65c2c;
          color: white;
          border-radius: 3px;
          margin-right: 10px;
          border: none; }
    #account .account-content .tab-content #quanlybaidang .account-section-header {
      padding: 8px 0px; }
      #account .account-content .tab-content #quanlybaidang .account-section-header h3 {
        color: #f65c2c;
        font-size: 20px; }
    #account .account-content .tab-content #quanlybaidang .account-section-content {
      padding: 10px 5px; }
      #account .account-content .tab-content #quanlybaidang .account-section-content .input-section {
        margin-bottom: 10px; }
      #account .account-content .tab-content #quanlybaidang .account-section-content .submit-section {
        display: flex;
        justify-content: flex-end; }
        #account .account-content .tab-content #quanlybaidang .account-section-content .submit-section button {
          padding: 5px 10px;
          background-color: #f65c2c;
          color: white;
          border: none;
          border-radius: 3px; }
    #account .account-content .tab-content #danhsachbaidang .account-section-header {
      padding: 8px 0px; }
      #account .account-content .tab-content #danhsachbaidang .account-section-header h3 {
        color: #f65c2c;
        font-size: 20px; }
    #account .account-content .tab-content #quanlybinhluan .account-section-header {
      padding: 8px 0px; }
      #account .account-content .tab-content #quanlybinhluan .account-section-header h3 {
        color: #f65c2c;
        font-size: 20px; }
    #account .account-content .tab-content #quanlybinhluan .account-section-content .comment-box {
      padding: 10px 10px;
      border-bottom: 1px solid #eeeeee; }
      #account .account-content .tab-content #quanlybinhluan .account-section-content .comment-box .news-name {
        font-weight: bold; }
      #account .account-content .tab-content #quanlybinhluan .account-section-content .comment-box .webtuyeninh-link .webtuyensinh-section {
        color: #a0a0a0; }
      #account .account-content .tab-content #quanlybinhluan .account-section-content .comment-box .webtuyeninh-link .webtuyensinh-link {
        color: #2fa1b3; }
      #account .account-content .tab-content #quanlybinhluan .account-section-content .comment-box .your-comment {
        padding: 10px 10px;
        margin-bottom: 3px;
        background-color: #eeeeee; }
    #account .account-content .tab-content #thoat {
      color: white; }
      #account .account-content .tab-content #thoat .modal-header {
        background-color: #f65c2c; }
      #account .account-content .tab-content #thoat .modal-body {
        font-weight: bold;
        color: black;
        text-align: center; }
      #account .account-content .tab-content #thoat .modal-footer button {
        padding: 5px 12px;
        border-radius: 3px; }
      #account .account-content .tab-content #thoat .modal-footer #logout-btn {
        border: none;
        background-color: #f65c2c;
        color: white; }
      #account .account-content .tab-content #thoat .modal-footer #cancel-btn {
        color: #c8c8c8;
        background-color: white;
        border: 1px solid #eeeeee; }

/*# sourceMappingURL=taikhoan.css.map */
