
.father-contain {
  margin-top: 30px;
   clear: both;
  display: flex; }
  .father-contain .father-img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin-right: 20px; }

.children-contain {
  padding-left: 70px; }
  .children-contain .children-img {
    margin-top: 3px;
    border-radius: 17.5px;
    height: 35px;
    width: 35px;
    margin-right: 20px; }
    .children-contain input{
      /*float: left;*/
    }
    .children-contain .none{
      display: none;
    }
    .children-contain .left{
      float: left;
    }

.children-contain .comment {
  padding-left: 75px;
  font-size: 12px;
  margin: 5px 0px; }
  .comment img {
    margin-right: 20px; }
  .comment .father-img {
    height: 100%;
    width: 50px; }
  .comment .content1 {
  	background-color: white;
    padding: 0px 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 20px; }
    .comment .content1 p {
      font-size: 12px;
      padding: 10px 0px;
      margin: 0px 0px;
      text-align: left; }

.likes-reply {
  padding: 5px 0px;
  padding-left: 10px;
  display: flex; }
  .likes-reply a {
    font-size: 12px;
    padding-right: 30px; }
  .likes-reply p {
    font-size: 12px;
    color: gray;
    padding-right: 30px; }

.comment-input {
  padding-left: 70px; }
  .comment-input img{
    float: left;
  }
  .comment-input textarea {
    clear: both;
    height: 45px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px 10px;
  }
    .comment-input textarea:active, .comment-input textarea:focus {
      border: 2px solid cornflowerblue;
      outline: none; }
.comment-input form{
  width: 300px;
}
.comment-input form input{
  border: none;
  padding: 5px 8px;
  border-radius: 10px;
}
.account-input-contain{
  margin-top: 20px;
  margin-left: 13px;
  display: flex;
}
.account-input-contain .account-img{
  border-radius: 25px;
  height: 100%;
  width:  50px;
  margin-right: 20px;
}
.account-input-contain .account-input input{
  border: none;
  padding: 5px 8px;
  border-radius: 10px;
}
.enable{
  position: absolute;
  right: 0px;
}



