.user-comment {
  .comment-box {
    display: flex;
    padding: 5px 0px;
    .comment-box-img {
      margin-right: 20px;
      img {
        height: 40px;
        width: 40px;
      }
    }
    .comment-box-content {
      width: 100%;
      .user-name {
        font-size: 16px;
        font-weight: 600;
      }
      .comment-time {
        color: gray;
      }
      p {
        margin: 5px 0px;
      }
      .comment-reply {
        span {
          color: gray;
          font-size: 13px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .father {
    padding-top: 10px;
    border-top: 1px solid rgb(238, 238, 238);
    &:first-child {
      border-top: none;
    }
  }
  .children {
    padding-left: 60px;
  }
}
.your-comment {
  position: relative;
  padding: 15px 15px;
  background-color: #eeeee678;
  .row {
    margin-top: 10px;
    img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
      border-radius: 50%;
    }
    button {
      border-radius: 4px;
      float: right;
      color: white;
      border: none;
      padding: 5px 20px;
      background-color: rgb(246, 92, 44);
    }
  }
  p {
    margin: 0;
  }
  
}
