footer {
  padding-top: 50px;
  background-color: #eee;
  .menu {
    h6 {
      font-weight: bold;
      font-size: 14px;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        padding: 5px 0px;
        &::before {
          display: inline-block;
          content: "";
          border-radius: 3.5px;
          height: 7px;
          width: 7px;
          margin-right: 0.5rem;
          background-color: #055695;
        }

        a {
          text-decoration: none;
          color: rgb(51, 51, 51);
          &:hover{
            color: rgb(227, 65, 31);
          }
        }
      }
    }
  }
  .social {
    h6 {
      font-weight: bold;
      font-size: 14px;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          display: inline-block;
          
          margin-right: 5px;
          i {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: white;
            border-radius: 50%;
          }
          .fa-facebook {
            background-color: rgb(80, 114, 169);
          }
          .fa-twitter {
            background-color:  rgb(28, 183, 235);
          }
          .fa-google-plus {
            background-color:  rgb(227, 65, 31);
          }
          .fa-youtube {
            background-color:  rgb(202, 55, 55);
          }
        }
       
      }
    }
    .app{
      padding: 20px 0;
      margin-top: 20px;
      border-top: 1px solid rgb(220, 220, 220);
      img{
        height: 35px;
        margin-right: 5px;
      }
    }
    
  }
  .copyright {
    border-top: 1px solid gainsboro;
    padding: 5px 0;
    .right {
      text-align: right;
    }
  }
}
@media only screen and (max-width: 900px) { 
  .copyright { 
    text-align: center;
    .right {
      text-align: center !important;
    }
  }
}