footer {
  padding: 40px 0px;
  background-color: rgb(246, 246, 246);
  .footer-contain {
    .info-contain {
      list-style-type: none;
      li {
        padding: 5px 0px;
        h6 {
          font-weight: bold;
          font-size: 16px;
          color: rgb(51, 51, 51);
        }
        a {
          text-decoration: none;
          color: rgb(51, 51, 51);
          &:hover{
            color: rgb(227, 65, 31);
          }
        }
      }
      .li-section {
        &::before {
          display: inline-block;
          content: "";
          border-radius: 3.5px;
          height: 7px;
          width: 7px;
          margin-right: 0.5rem;
          background-color: rgb(15, 144, 164);
        }
      }
    }
    .social {
      h6 {
        margin-bottom: 20px;
      }
      i {
        margin-right: 5px;
        margin-bottom: 30px;
        font-size: 25px;
      }
      .fa-facebook {
        color: rgb(80, 114, 169);
      }
      .fa-twitter-square {
        color: rgb(28, 183, 235);
      }
      .fa-google-plus {
        color: rgb(227, 65, 31);
      }
      .fa-youtube-square {
        color: rgb(202, 55, 55);
      }
    }
    .appstore-ggplay{
      border-top: 1px solid rgb(220, 220, 220);
      display: flex;
      div{
        padding: 10px 0px;
        img{
          height: 50px;
        }
      }
    }
  }
}

#doitac-container {
  padding: 10px 0px;
  border: 1px solid rgb(213, 213, 213);
  .doitac {
    display: flex;
    .doitac-header {
      display: flex;
      width: 15%;
      align-items: center;
      p {
        margin: auto 0px;
      }
    }
    .doitac-contents {
      width: 85%;
      display: flex;
      .doitac-img{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-contain {
    div {
      justify-content: center;
    }
  }
}
