header {
  padding: 10px 0px;
  background-color: rgb(246, 92, 44);
  color: white;
  .header-news {
    overflow: hidden;
    span{
      margin-right: 25px;
    }
  }
  .header-account {
    padding-left: 55px;
    .dropdown-toggle {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
      p {
        margin: 0px 0px;
      }
      &::after {
        margin-left: 20px;
      }
    }
    .dropdown-menu {
      ul {
        padding: 0px 10px;
        margin: 0px 0px;
        list-style: none;
        li {
          cursor: pointer;
          padding: 10px 0px;
          &:hover {
            background-color: rgb(246, 246, 246);
          }
        }
      }
    }
  }
}

nav {
  padding: 10px 0px;
  .nav {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    .nav-logo {
      padding: 0px 15px;
      img {
        width: 80%;
        height: 80px;
      }
    }
    .menu {
      ul {
        padding: 0px 0px;
        margin: 0px 0px;
        align-items: center;
        list-style-type: none;
        .home {
          width: 10%;
          a {
            height: fit-content;
            width: fit-content;
            display: flex;
            align-items: center;
            text-decoration: none;
            i {
              padding: 10px 10px;
              background-color: rgb(246, 92, 44);
              color: white;
              transition: 0.3s;
              &:hover {
                transform: scale(1.2, 1.2);
              }
            }
          }
          &:hover {
            background-color: white;
          }
        }
        li {
          align-items: center;
          height: 60px;
          display: flex;
          justify-content: center;
          padding: 14px;
          &:hover {
            background-color: rgb(246, 246, 246);
          }
          form{
            text-align: center;
            width: 100%;
          }
          a {
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            color: rgb(51, 51, 51);
            font-size: 14px;
          }
        }
      }
    }
    #search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        text-align: right;
        font-size: 20px;
        color: rgb(127, 127, 127);
      }
      #searchbar {
        background-color: white;
        padding: 10px 12px;
        border: 1px solid rgb(220, 220, 220);
        right: 20px;
        top: 30px;
        width: 350px;
        z-index: 9999;
        position: absolute;
        display: none;
        .closebtn {
          color: rgb(246, 92, 44);
          font-size: 25px;
          text-decoration: none;
        }
      }
    }
  }
}

article {
  .modal-header {
    background-color: rgb(246, 92, 44);
    color: white;
    padding: 10px 15px;
    p {
      width: 100%;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
    }
  }
  .modal-body {
    padding: 10px 10px;
    form {
      input {
        margin: 10px 0px;
      }
    }
  }
  .modal-footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .social-btn {
      display: flex;
      justify-content: center;
    }
  }
}

#signin {
  .modal-body {
    input {
      margin: 10px 0px;
    }
    .submit-btn {
      background-color: rgb(246, 92, 44);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 5px 12px;
    }
    .checkbox-btn {
      display: block;
    }
  }
}

.mb-header,
.mb-nav {
  display: none;
}
.sidenav {
  display: none;
}

@media only screen and (max-width: 600px) {
  header,
  nav {
    display: none;
  }
  .mb-nav {
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px rgb(220, 220, 220);
    background-color: white;
    display: flex;
    padding: 10px 13px;
    justify-content: center;
    align-items: center;
    .logo {
      width: 30%;
    }
    .mb-menu,
    .mb-account {
      width: 15%;
    }
    .space {
      width: 20%;
    }
    .mb-search{
      background-color: white;
      width: 15%;
      display: flex;
      justify-content: flex-end;
    }
    .mb-search > div {
      display: inline-block;
      position: relative;
    }

    .mb-search > div:after {
      content: "";
      background: black;
      width: 2px;
      height: 10px;
      position: absolute;
      top: 17px;
      right: -3px;
      transform: rotate(130deg);
      box-shadow: 1px 0 #0091c2;
    }

    .mb-search > div > input {
      color: black;
      font-size: 16px;
      background-color: white;
      width: 12px;
      height: 12px;
      padding: 10px;
      border: solid 2px black;
      outline: none;
      border-radius: 35px;
      box-shadow: 0 1px #0091c2;
      transition: width 0.5s;
    }

    .mb-search > div > input::placeholder {
      color: black;
      opacity: 1;
    }

    .mb-search > div > input::-ms-placeholder {
      color: #efefef;
    }

    .mb-search > div > input:focus,
    .mb-search > div > input:valid {
      width: 200px;
    }
    .mb-menu {
      a {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        text-decoration: none;
        i {
          font-size: 18px;
          padding: 8px 8px;
          background-color: rgb(246, 92, 44);
          color: white;
        }
      }
    }
  }
  .mb-account {
    display: flex;
    justify-content: flex-end;
    a {
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: center;
      text-decoration: none;
      i {
        font-size: 18px;
        padding: 8px 8px;
        background-color: rgb(246, 92, 44);
        color: white;
      }
    }
  }
  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(246, 246, 246);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    ul {
      padding: 0px 15px;
      li {
        padding: 10px 0px;
        a {
          text-transform: uppercase;
          color: rgb(51, 51, 51);
        }
      }
    }
    .closebtn {
      text-decoration: none;
      color: red;
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}

.marquee {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}
