body {
  font-size: 14px;
}
header {
  padding: 5px 0px;
  background-color:#eee;
  border-bottom: 1px solid #ccc;
  .left {
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    li {
      list-style: none;
      display: inline-block;
      align-items: center;
      font-size: 13px;
      margin-right: 7px;
    }
  }
  .dropdown {
    cursor: pointer;
    float: right;
    .dropdown-toggle {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
      p {
        margin: 0px;
      }
      &::after {
        margin-left: 10px;
      }
    }
    .dropdown-menu {
      top: 26px !important;
      right: 0 !important;
      transform: inherit !important;
      left: inherit !important;
      border-radius: 0;
      ul {
        padding: 0px 10px;
        margin: 0px 0px;
        list-style: none;
        li {
          cursor: pointer;
          padding: 10px 0px;
          a{
            color: rgb(51, 51, 51);
            text-decoration: none;
          }
          &:hover {
            background-color: rgb(246, 246, 246);
          }
        }
      }
    }
  }
}



  nav.nav {
    padding: 5px 0;
    align-items: center;
    .logo {
      display: block;
      padding: 5px 0;
      img {
        /*width: 80%;*/
        height: 70px;
      }
    }
    .menu {
      ul {
        padding: 17px 0px;
        margin: 0px 0px;
        /*float: right;*/
        text-align: right;

        list-style-type: none;
        .home {
          width: 10%;
          a {
            height: fit-content;
            width: fit-content;
            display: flex;
            align-items: center;
            text-decoration: none;
            i {
              font-size: 16px;
              padding: 11px 11px;
              background-color: rgb(246, 92, 44);
              color: white;
              transition: 0.3s;
              &:hover {
                transform: scale(1.2, 1.2);
              }
            }
          }
          &:hover {
            background-color: white;
          }
        }
        li {
          display: inline-block;
          
          &:hover {
            background-color: rgb(246, 246, 246);
          }
          a {
            display: block;
            padding: 10px 15px;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            color: rgb(51, 51, 51);
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
    #search {
      padding: 20px 0;
      position: relative;
      text-align: right;
      i {
        padding: 10px;
        text-align: right;
        font-size: 20px;
        color: rgb(127, 127, 127);
      }
      .searchbar {
        background-color: white;
        padding: 10px 12px;
        border: 1px solid rgb(220, 220, 220);
        right: 0px;
        top: 60px;
        width: 300px;
        z-index: 9999;
        position: absolute;
        display: none;
        #search-submit{
          margin-top: 10px;
          padding: 5px 10px;
          background-color: rgb(246, 92, 44);
          border: none;
          color: white;
        }
        .closebtn {
          cursor: pointer;
          color: rgb(246, 92, 44);
          font-size: 25px;
          text-decoration: none;
        }
      }
    }
  }


.sign {
  .modal-header {
    background-color: rgb(246, 92, 44);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    p {
      margin: 0;
    }
  }
  .modal-body {
    padding: 20px;
    input {
      margin: 10px 0px;
      font-size: 14px;
      padding: 5px;
    }
    .submit-btn {
      background-color: rgb(246, 92, 44);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 5px 12px;
    }
    .checkbox-btn {
      display: block;
    }
    #forgotpass{
      position: absolute;
      right: 20px;
    }
    
  }
  .modal-footer{
    border-top: 0;
    display: block; 
    padding: 10px 20px;

    .social-btn{
      padding-bottom: 20px;
      p {
        margin: 0;

      }
      a{
        padding: 10px;
        border-radius: 3px;
        border: none;
        width: 48%;
        display: inline-block;
        i {
          font-size: 20px;
          margin-right: 20px;
        }
      }
      .facebook-btn{
        background-color: royalblue;
        color: white;
      }
      .gmail-btn{
        background-color: #e44134;
        color: white;
      }
    }
    #modalclose2{
      position: absolute;
      right: 20px;
    }
  }
}


.mb-header,
.mb-nav {
  display: none;
}
.sidenav {
  display: none;
}

@media only screen and (max-width: 600px) {
  header,
  nav {
    display: none;
  }
  .mb-nav {
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px rgb(220, 220, 220);
    background-color: white;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    .logo {
      img {
        height: 50px;
      }
    }
    .mb-menu,
    .mb-account {
      width: 15%;
    }
    .space {
      width: 20%;
    }
    .mb-search{
      background-color: white;
      width: 15%;
      display: flex;
      justify-content: flex-end;
    }
    .mb-search > div {
      display: inline-block;
      position: relative;
    }

    .mb-search > div:after {
      content: "";
      background: black;
      width: 2px;
      height: 10px;
      position: absolute;
      top: 17px;
      right: -3px;
      transform: rotate(130deg);
      box-shadow: 1px 0 #0091c2;
    }

    .mb-search > div > input {
      color: black;
      font-size: 16px;
      background-color: white;
      width: 12px;
      height: 12px;
      padding: 10px;
      border: solid 2px black;
      outline: none;
      border-radius: 35px;
      box-shadow: 0 1px #0091c2;
      transition: width 0.5s;
    }

    .mb-search > div > input::placeholder {
      color: black;
      opacity: 1;
    }

    .mb-search > div > input::-ms-placeholder {
      color: #efefef;
    }

    .mb-search > div > input:focus,
    .mb-search > div > input:valid {
      width: 200px;
    }
    .mb-menu {
      a {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        text-decoration: none;
        i {
          font-size: 18px;
          padding: 8px 8px;
          background-color: rgb(246, 92, 44);
          color: white;
        }
      }
    }
  }
  .mb-account {
    display: flex;
    justify-content: flex-end;
    a {
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: center;
      text-decoration: none;
      i {
        font-size: 18px;
        padding: 8px 8px;
        background-color: rgb(246, 92, 44);
        color: white;
      }
    }
  }
  .sidenav {
    display: none;
    height: 100%;
    width: 0;
    padding: 15px;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    background-color: rgb(246, 246, 246);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    ul {
      li {
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0px;
        a {
          text-transform: uppercase;
          color: rgb(51, 51, 51);
        }
      }
    }

    .closebtn {
      text-decoration: none;
      color: red;
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 36px;
    }
    .account {
      margin-top: 10px;
      padding: 0;
      li {
        border: 0;
        padding: 10px;
      }
    }
  }
}

.marquee {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}
